@model StoreOfBuild.Domain.Dtos.UserDto
@{
    ViewData["Title"] = "Create";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Create User</h3>
        <a href="/User" class="btn btn-primary">Back</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="form" class="form-horizontal" asp-action="Create" asp-controller="User" asp-anti-forgery
            data-ajax="true" data-ajax-method="POST" data-ajax-failure="formOnFail" data-ajax-success="formOnSucess">
            <input type="hidden" class="form-control" asp-formaction="Id">
            <div class="form-group">
                <label class="col-md-12 control-label">Email</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-12 control-label">Password</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-12 control-label">Passoword</label>
                <div class="col-md-8">
                    <select class="form-control" asp-for="Role">
                        @* <option></option> *@
                        <option value="Manager">Manager</option>
                        <option value="Operation">Operation</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/toastr.min.js"></script>
}